CREATE TABLE tbl_verein (
    PK_Verein INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50),
    Gruendungsjahr INT
);

CREATE TABLE tbl_stadion (
    PK_Stadion INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50),
    Adresse NVARCHAR(50),
    PLZ INT,
    Ort NVARCHAR(50),
    Kapazitaet INT,
    FK_Verein INT
);

CREATE TABLE tbl_mannschaft (
    PK_Mannschaft INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50),
    FK_Verein INT
);

CREATE TABLE tbl_schiedsrichter (
    PK_Schiedsrichter INT IDENTITY(1,1) PRIMARY KEY,
    Vorname NVARCHAR(50),
    Nachname NVARCHAR(50),
    Lizenzschein NVARCHAR(50)
);

CREATE TABLE tbl_spieler (
    PK_Spieler INT IDENTITY(1,1) PRIMARY KEY,
    Vorname NVARCHAR(50),
    Nachname NVARCHAR(50),
    Trikotnummer INT,
    Position NVARCHAR(50)
);

CREATE TABLE tbl_trainer (
    PK_Trainer INT IDENTITY(1,1) PRIMARY KEY,
    Vorname NVARCHAR(50),
    Nachname NVARCHAR(50),
    Lizenzschein NVARCHAR(50)
);

CREATE TABLE tbl_mannschaft (
    PK_Mannschaft INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50),
    FK_Verein INT
);

CREATE TABLE tbl_liga (
    PK_Liga INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50)
);

CREATE TABLE tbl_liga_mannschaft (
    PK_Liga_Mannschaft INT IDENTITY(1,1) PRIMARY KEY,
    Von DATE NOT NULL,
    Bis DATE NOT NULL,
    FK_Liga INT NOT NULL,
    FK_Mannschaft INT NOT NULL
);

CREATE TABLE tbl_spieler_mannschaft (
    PK_Spieler_Mannschaft INT IDENTITY(1,1) PRIMARY KEY,
    Von DATE NOT NULL,
    Bis DATE NOT NULL,
    FK_Spieler INT NOT NULL,
    FK_Mannschaft INT NOT NULL
);

CREATE TABLE tbl_trainer_mannschaft (
    PK_Trainer_Mannschaft INT IDENTITY(1,1) PRIMARY KEY,
    Von DATE,
    Bis DATE,
    FK_Mannschaft INT,
    FK_Trainer INT
);

CREATE TABLE tbl_spiel (
    PK_Spiel INT IDENTITY(1,1) PRIMARY KEY,
    Ergebnis NVARCHAR(10),
    Anpfiff DATETIME,
    FK_Schiedsrichter INT,
    FK_Stadion INT,
    FK_Mannschaft_Heim INT NOT NULL,
    FK_Mannschaft_Auswaerts INT NOT NULL
);

CREATE TABLE tbl_transfers (
    PK_Transfer INT IDENTITY(1,1) PRIMARY KEY,
    Von DATE,
    Bis DATE,
    FK_Mannschaft INT,
    FK_Spieler INT
);


-----------------------------------------
-- FOREIGN KEYS
-----------------------------------------

ALTER TABLE tbl_stadion
ADD CONSTRAINT FK_stadion_verein FOREIGN KEY (FK_Verein)
REFERENCES tbl_verein(PK_Verein);

ALTER TABLE tbl_mannschaft
ADD CONSTRAINT FK_mannschaft_verein FOREIGN KEY (FK_Verein)
REFERENCES tbl_verein(PK_Verein);

ALTER TABLE tbl_liga_mannschaft
ADD CONSTRAINT FK_liga_mannschaft_liga FOREIGN KEY (FK_Liga)
REFERENCES tbl_liga(PK_Liga);

ALTER TABLE tbl_liga_mannschaft
ADD CONSTRAINT FK_liga_mannschaft_mannschaft FOREIGN KEY (FK_Mannschaft)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_spieler_mannschaft
ADD CONSTRAINT FK_spieler_mannschaft_spieler FOREIGN KEY (FK_Spieler)
REFERENCES tbl_spieler(PK_Spieler);

ALTER TABLE tbl_spieler_mannschaft
ADD CONSTRAINT FK_spieler_mannschaft_mannschaft FOREIGN KEY (FK_Mannschaft)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_trainer_mannschaft
ADD CONSTRAINT FK_trainer_mannschaft_trainer FOREIGN KEY (FK_Trainer)
REFERENCES tbl_trainer(PK_Trainer);

ALTER TABLE tbl_trainer_mannschaft
ADD CONSTRAINT FK_trainer_mannschaft_mannschaft FOREIGN KEY (FK_Mannschaft)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_spiel
ADD CONSTRAINT FK_spiel_schiedsrichter FOREIGN KEY (FK_Schiedsrichter)
REFERENCES tbl_schiedsrichter(PK_Schiedsrichter);

ALTER TABLE tbl_spiel
ADD CONSTRAINT FK_spiel_stadion FOREIGN KEY (FK_Stadion)
REFERENCES tbl_stadion(PK_Stadion);

ALTER TABLE tbl_spiel
ADD CONSTRAINT FK_spiel_mannschaft_heim FOREIGN KEY (FK_Mannschaft_Heim)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_spiel
ADD CONSTRAINT FK_spiel_mannschaft_auswaerts FOREIGN KEY (FK_Mannschaft_Auswaerts)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_transfers
ADD CONSTRAINT FK_transfers_mannschaft FOREIGN KEY (FK_Mannschaft)
REFERENCES tbl_mannschaft(PK_Mannschaft);

ALTER TABLE tbl_transfers
ADD CONSTRAINT FK_transfers_spieler FOREIGN KEY (FK_Spieler)
REFERENCES tbl_spieler(PK_Spieler);


-----------------------------------------
-- DATEN EINFÜGEN
-----------------------------------------

-- Vereine
INSERT INTO tbl_verein (Name, Gruendungsjahr) VALUES
('FC Bayern München', 1900),
('Borussia Dortmund', 1909),
('RB Leipzig', 2009);

-- Stadien
INSERT INTO tbl_stadion (Name, Adresse, PLZ, Ort, Kapazitaet, FK_Verein) VALUES
('Allianz Arena', 'Werner-Heisenberg-Allee 25', 80939, 'München', 75000, 1),
('Signal Iduna Park', 'Strobelallee 50', 44139, 'Dortmund', 81365, 2),
('Red Bull Arena', 'Am Sportforum 3', 4105, 'Leipzig', 47069, 3);

-- Mannschaften
INSERT INTO tbl_mannschaft (Name, FK_Verein) VALUES
('Bayern München – Erste Mannschaft', 1),
('Borussia Dortmund – Erste Mannschaft', 2),
('RB Leipzig – Erste Mannschaft', 3);

-- Ligen
INSERT INTO tbl_liga (Name) VALUES
('1. Bundesliga'),
('DFB-Pokal');

-- Liga – Mannschaft
INSERT INTO tbl_liga_mannschaft (Von, Bis, FK_Liga, FK_Mannschaft) VALUES
('2024-07-01','2025-06-30',1,1),
('2024-07-01','2025-06-30',1,2),
('2024-07-01','2025-06-30',1,3),
('2024-07-01','2025-06-30',2,1),
('2024-07-01','2025-06-30',2,2);

-- Schiedsrichter
INSERT INTO tbl_schiedsrichter (Vorname, Nachname, Lizenzschein) VALUES
('Felix','Brych','UEFA Elite'),
('Manuel','Gräfe','DFB Pro'),
('Deniz','Aytekin','UEFA Elite');

-- Spieler
INSERT INTO tbl_spieler (Vorname, Nachname, Trikotnummer, Position) VALUES
('Manuel','Neuer',1,'Torwart'),
('Jamal','Musiala',42,'Mittelfeld'),
('Harry','Kane',9,'Stürmer'),

('Gregor','Kobel',1,'Torwart'),
('Marco','Reus',11,'Mittelfeld'),
('Niclas','Füllkrug',9,'Stürmer'),

('Peter','Gulacsi',1,'Torwart'),
('Dani','Olmo',7,'Mittelfeld'),
('Timo','Werner',11,'Stürmer');

-- Spieler – Mannschaft
INSERT INTO tbl_spieler_mannschaft (Von, Bis, FK_Spieler, FK_Mannschaft) VALUES
('2023-07-01','2025-06-30',1,1),
('2023-07-01','2025-06-30',2,1),
('2023-07-01','2025-06-30',3,1),

('2022-07-01','2025-06-30',4,2),
('2022-07-01','2025-06-30',5,2),
('2022-07-01','2025-06-30',6,2),

('2021-07-01','2025-06-30',7,3),
('2021-07-01','2025-06-30',8,3),
('2021-07-01','2025-06-30',9,3);

-- Trainer
INSERT INTO tbl_trainer (Vorname, Nachname, Lizenzschein) VALUES
('Thomas','Tuchel','UEFA Pro'),
('Edin','Terzic','UEFA Pro'),
('Marco','Rose','UEFA Pro');

-- Trainer – Mannschaft
INSERT INTO tbl_trainer_mannschaft (Von, Bis, FK_Mannschaft, FK_Trainer) VALUES
('2023-07-01','2025-06-30',1,1),
('2023-07-01','2025-06-30',2,2),
('2023-07-01','2025-06-30',3,3);

-- Spiele
INSERT INTO tbl_spiel (Ergebnis, Anpfiff, FK_Schiedsrichter, FK_Stadion, FK_Mannschaft_Heim, FK_Mannschaft_Auswaerts) VALUES
('2:1','2025-02-10 15:30',1,1,1,2),
('1:1','2025-02-18 18:00',2,2,2,3),
('3:0','2025-02-25 20:45',3,3,3,1);

-- Transfers
INSERT INTO tbl_transfers (Von, Bis, FK_Mannschaft, FK_Spieler) VALUES
('2024-06-01','2024-06-30',1,3),
('2024-07-10','2024-07-20',2,6),
('2024-08-15','2024-08-30',3,9);
